body{
    background: #5CA2C6;
    height: 100vh;
    display: grid;
    place-items: center;
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;
    position: relative;
}

.head{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 10px solid black;
    background: white;
    position: relative;
    justify-content: center;
    display: flex;
    align-items: baseline;
}

.head::before{
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: inset -22px 5px 0 7px rgba(0,0,0,0.2);
}